body {
    
    background-color: #F8F7FF;
    
    /*  //In your main.css file, add a css rule where all text will align center inside the body */
    text-align: center;

}

.toad {
    font-family: fantasy;
}

.secret {
    font-family: cursive;
    /*In your main.css file, give the items with a class of secret an attribute of opacity: 0.5; */
    opacity: .5;
}

ul {
    list-style-type: none;
}

/* In your main.css file, add a gray 1px solid border around your table, th elements and td elements */

table, th, td {
    border: solid;
    margin-left: auto;
    margin-right: auto;
    

}